/* WhatsAppLink.css */
.whatsapp-button {
    background-color: #25D366; /* Color de WhatsApp */
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .whatsapp-button:hover {
    background-color: #128C7E; /* Color de WhatsApp oscuro */
  }
  